
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="renderer" content="webkit">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="MobileOptimized" content="320">
    <meta name="applicable-device" content="mobile">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="preconnect" href="//m.manhuabei.com">
        <title>怪怪守护神,怪怪守护神漫画,怪怪守护神123,怪怪守护神124 - 漫画呗</title>
    <meta name="keywords" content="怪怪守护神,怪怪守护神漫画,怪怪守护神123,怪怪守护神124">
<meta name="description" content="漫画呗是更新怪怪守护神漫画最快的漫画网，怪怪守护神123，怪怪守护神124第一时间为你更新。怪怪守护神,Tsugumomo，つぐもも漫画免费阅读。平凡的中学生．加贺见一也跟自称是他的“主人”的美少女付丧神桐叶，一起过著奇妙的同……">
<meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="WoHwy7hT3ZKLT-iC8B_QgIazX1nv9lTL-zrRNPVcOagL9J3z6R-a-fEio8OUKbzq4NoUdIy8IbmkYJpGsy124g==">

<link href="/assets/efb17fe3/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
<link href="/plugins/toastr/toastr.min.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="/assets/2246609f/css/common.css" rel="stylesheet">	<script>function isMobileHanddle(){var e=navigator.userAgent;return(screen.width/screen.height<1||/AppleWebKit.*Mobile/i.test(e)||/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(e)||/ipad/i.test(e))}var host=location.host;isMobileHanddle()||"m"!==host.substr(0,host.indexOf("."))||(location.href=location.href.replace("//m.","//www."))</script>
</head>
<body class="clearfix">

<div class="page-main">
            <script>;var pageTitle = "怪怪守护神,怪怪守护神漫画,怪怪守护神123,怪怪守护神124";var pageUrl = "https://m.manhuabei.com/manhua/guaiguaishouhushen/";var pageImage = "https://img01.eshanyao.com/images/cover/201906/155947205557838029cbed9e2.jpg";var pageDomain = "https://m.manhuabei.com";var pageId = "comic.3802";</script><div class="Introduct">
    <div class="sharWin" id="share-panel">
        <div class="sharClose" id="share-close"></div>
        <p class="sharBar">分享到:</p>
        <div class="sharBox">
                    </div>
    </div>

    <div class="subHeader">
        <h1 class="BarTit" id="comicName">怪怪守护神</h1>
        <a href="javascript:SinMH.goBack();" class="iconRet"></a>
<a href="/" class="iconHome"></a>

	  <a class="icon head" href="/member/" target="_blank"><img id="avatar" src="https://img01.eshanyao.com/images/default/avatar.png" width="36" height="36" alt=""><span class="tip" id="update-notice" style="display: none;"></span></a>        <a href="javascript:void(0);" class="iconShar" id="shareIcon"></a>

    </div>
    <div class="Introduct_Sub autoHeight">
        <div class="pic" id="Cover">
            <img src="https://img01.eshanyao.com/images/cover/201906/155947205557838029cbed9e2.jpg" width="100%" alt="怪怪守护神" title="怪怪守护神">        </div>
        <div class="sub_r autoHeight">
            <p class="txtItme">
                <span class="icon icon01"></span>
                滨田义一            </p>
            <p class="txtItme">
                <span class="icon icon02"></span><a href="/list/shengui/">神鬼</a>            </p>
            <p class="txtItme">
                <span class="icon icon02"></span>
                <a href="/list/shaonian/">少年漫画</a>                <a href="/list/riben/">日本</a>                <a href="/list/lianzai/">连载中</a>            </p>

		    <p class="txtItme">
                <span class="icon icon02"></span> 279人收藏 10898人气
            </p>

            <p class="txtItme">
                <span class="icon icon03"></span>
                <span class="date">2019-10-11 04:17</span>
            </p>

            <p class="btnItem">
            <a class="Btn fl"  id="subscribe">收藏漫画</a>
            <a id="continusRead" class="Btn right" href="https://m.manhuabei.com/manhua/guaiguaishouhushen/412965.html"><span></span>开始观看</a>
            </p>

        </div>
    </div>
    <p class="txtDesc autoHeight" id="simple-des">怪怪守护神漫画简介:平凡的中学生．加贺见一也跟自称是他的“主人”的美少女付丧神桐叶，一起过著奇妙的同居生活。但是就在某一……</p>
        <p class="txtDesc autoHeight" id="full-des" style="display: none;">怪怪守护神漫画简介:平凡的中学生．加贺见一也跟自称是他的“主人”的美少女付丧神桐叶，一起过著奇妙的同居生活。但是就在某一天，一个自称是土地神菊理媛神所派来的使者，而且还是个美丽的巨乳巫女黑耀，出现在他们面前，究竟她的目的为何…一起睡觉、一起洗澡…这个一点也不像是守护神、不按牌理出牌、顽皮又可爱的桐叶，老是将一也耍得团团转，让他每天都过著这种有点不可思议的日子。</p>
     <p class="openBtn"></p>


	           <div class="img_001 globalPadding globaltop10 globalbottom10">
	<script>document.writeln("<p class=\'txtDesc autoHeight\' style=\'background:#000;color: #FFF;\'>公告：原（漫画堆 manhuadui.com）正式更换为（漫画呗 manhuabei.com）</p>");</script>


    <div id="list_block">

                    <div class="comic-chapters">
                <div class="chapter-category Sub_H2 autoHeight">
                    <div class="caption pull-left"><span class="icon Icon9"></span><span class="Title">章节列表</span></div>
                    <div class="actions section-hd pull-right" data-key="1">
                        <span>排序:</span>
                        <span data-order="desc" class="chapter-sort reverse"> 倒序</span>
                        <span> | </span>
                        <span data-order="asc" class="chapter-sort active"> 正序</span>
                    </div>
                </div>
                <div class="chapter-body clearfix">
                    <div class="chapter-warp">
                    <ul id="chapter-list-1" data-sort="asc" class="Drama ">
                                                    <li>
                                <a href="/manhua/guaiguaishouhushen/261388.html"
                                   class="">
                                    <span>45话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261389.html"
                                   class="">
                                    <span>46话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261390.html"
                                   class="">
                                    <span>47话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261391.html"
                                   class="">
                                    <span>48话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261392.html"
                                   class="">
                                    <span>49话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261393.html"
                                   class="">
                                    <span>50话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261394.html"
                                   class="">
                                    <span>51话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261395.html"
                                   class="">
                                    <span>52话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261396.html"
                                   class="">
                                    <span>53话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261397.html"
                                   class="">
                                    <span>54话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261398.html"
                                   class="">
                                    <span>55话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261399.html"
                                   class="">
                                    <span>56话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261400.html"
                                   class="">
                                    <span>57话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261401.html"
                                   class="">
                                    <span>58话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261402.html"
                                   class="">
                                    <span>59话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261403.html"
                                   class="">
                                    <span>60话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261404.html"
                                   class="">
                                    <span>61话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261405.html"
                                   class="">
                                    <span>62话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261406.html"
                                   class="">
                                    <span>63话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261407.html"
                                   class="">
                                    <span>64话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261408.html"
                                   class="">
                                    <span>65话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261409.html"
                                   class="">
                                    <span>66话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261410.html"
                                   class="">
                                    <span>67话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261411.html"
                                   class="">
                                    <span>68话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261412.html"
                                   class="">
                                    <span>69话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261413.html"
                                   class="">
                                    <span>70话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261414.html"
                                   class="">
                                    <span>71话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261415.html"
                                   class="">
                                    <span>72话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261416.html"
                                   class="">
                                    <span>73话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261417.html"
                                   class="">
                                    <span>74话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261418.html"
                                   class="">
                                    <span>75话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261419.html"
                                   class="">
                                    <span>76话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261420.html"
                                   class="">
                                    <span>77话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261421.html"
                                   class="">
                                    <span>78话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261422.html"
                                   class="">
                                    <span>79话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261423.html"
                                   class="">
                                    <span>80话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261424.html"
                                   class="">
                                    <span>81话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261425.html"
                                   class="">
                                    <span>82话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261426.html"
                                   class="">
                                    <span>83话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261427.html"
                                   class="">
                                    <span>84话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261428.html"
                                   class="">
                                    <span>85话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261429.html"
                                   class="">
                                    <span>86话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261430.html"
                                   class="">
                                    <span>87话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261431.html"
                                   class="">
                                    <span>88话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261432.html"
                                   class="">
                                    <span>89话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261433.html"
                                   class="">
                                    <span>90话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261434.html"
                                   class="">
                                    <span>91话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261435.html"
                                   class="">
                                    <span>92话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261436.html"
                                   class="">
                                    <span>93话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261437.html"
                                   class="">
                                    <span>94话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261438.html"
                                   class="">
                                    <span>95话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261439.html"
                                   class="">
                                    <span>96话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261440.html"
                                   class="">
                                    <span>97话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261441.html"
                                   class="">
                                    <span>98话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261442.html"
                                   class="">
                                    <span>99话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261443.html"
                                   class="">
                                    <span>100话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261444.html"
                                   class="">
                                    <span>101话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261445.html"
                                   class="">
                                    <span>102话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261446.html"
                                   class="">
                                    <span>103话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261447.html"
                                   class="">
                                    <span>104话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261448.html"
                                   class="">
                                    <span>105话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261449.html"
                                   class="">
                                    <span>106话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261450.html"
                                   class="">
                                    <span>107话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261451.html"
                                   class="">
                                    <span>108话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261452.html"
                                   class="">
                                    <span>109话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261453.html"
                                   class="">
                                    <span>110话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261454.html"
                                   class="">
                                    <span>111话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261455.html"
                                   class="">
                                    <span>112话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261456.html"
                                   class="">
                                    <span>113话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261457.html"
                                   class="">
                                    <span>114话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261458.html"
                                   class="">
                                    <span>115话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261459.html"
                                   class="">
                                    <span>116话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261460.html"
                                   class="">
                                    <span>117话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261461.html"
                                   class="">
                                    <span>118话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/412962.html"
                                   class="">
                                    <span>119话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/412963.html"
                                   class="">
                                    <span>120话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/412964.html"
                                   class="">
                                    <span>121话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/412965.html"
                                   class="">
                                    <span>122话</span>
                                    								                                    </a>
                            </li>
                                                </ul>
                    </div>
                    <a href="javascript:;" class="extend" title="全部展开" data-key="1"><span>&bull;&bull;&bull;</span></a>                </div>
            </div>

                        <div class="comic-chapters">
                <div class="chapter-category Sub_H2 autoHeight">
                    <div class="caption pull-left"><span class="icon Icon9"></span><span class="Title">单行本列表</span></div>
                    <div class="actions section-hd pull-right" data-key="4">
                        <span>排序:</span>
                        <span data-order="desc" class="chapter-sort reverse"> 倒序</span>
                        <span> | </span>
                        <span data-order="asc" class="chapter-sort active"> 正序</span>
                    </div>
                </div>
                <div class="chapter-body clearfix">
                    <div class="chapter-warp">
                    <ul id="chapter-list-4" data-sort="asc" class="Drama autoHeight">
                                                    <li>
                                <a href="/manhua/guaiguaishouhushen/261380.html"
                                   class="">
                                    <span>1话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261381.html"
                                   class="">
                                    <span>2话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261382.html"
                                   class="">
                                    <span>3话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261383.html"
                                   class="">
                                    <span>4话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261384.html"
                                   class="">
                                    <span>5话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261385.html"
                                   class="">
                                    <span>6话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261386.html"
                                   class="">
                                    <span>7话</span>
                                    								                                    </a>
                            </li>
                                                        <li>
                                <a href="/manhua/guaiguaishouhushen/261387.html"
                                   class="">
                                    <span>8话</span>
                                    								                                    </a>
                            </li>
                                                </ul>
                    </div>
                                    </div>
            </div>

                        </div>

   <div class="imgBox">
        <div class="Sub_H2">

            <span class="icon icon_h2_2"></span>
            <span class="Title">同类推荐</span>
            <a class="icon_More" href="/rank/" target="_blank"></a>        </div>
        <ul id="w0" class="col_3_1"><li class="list-comic" data-key="4731"><a class="ImgA" href="https://m.manhuabei.com/manhua/kesuludehuhuan/"><img src="https://img01.eshanyao.com/images/cover/201906/15609692275094731265fdb14.jpg" width="100%" alt="" default="images/default/cover.png"></a><a class="txtA" href="https://m.manhuabei.com/manhua/kesuludehuhuan/">克苏鲁的呼唤</a><span class="info">更新至:<a href="/manhua/kesuludehuhuan/428761.html">07话</a></span>
</li>
<li class="list-comic" data-key="9995"><a class="ImgA" href="https://m.manhuabei.com/manhua/longzhenghudou/"><img src="https://img01.eshanyao.com/images/cover/201909/1567638421268999592b8db9e.jpg" width="100%" alt="" default="images/default/cover.png"></a><a class="txtA" href="https://m.manhuabei.com/manhua/longzhenghudou/">龙争狐斗</a><span class="info">更新至:<a href="/manhua/longzhenghudou/394183.html">特典01</a></span>
</li>
<li class="list-comic" data-key="3975"><a class="ImgA" href="https://m.manhuabei.com/manhua/yugui/"><img src="https://img01.eshanyao.com/images/cover/201906/15598788750593975a5dab5a2.jpg" width="100%" alt="" default="images/default/cover.png"></a><a class="txtA" href="https://m.manhuabei.com/manhua/yugui/">欲鬼</a><span class="info">更新至:<a href="/manhua/yugui/326568.html">30话</a></span>
</li>
<li class="list-comic" data-key="2917"><a class="ImgA" href="https://m.manhuabei.com/manhua/gongyuliyougezuofutongzi/"><img src="https://img01.eshanyao.com/images/cover/201905/15583265836152917d6e7df3.jpg" width="100%" alt="" default="images/default/cover.png"></a><a class="txtA" href="https://m.manhuabei.com/manhua/gongyuliyougezuofutongzi/">公寓里有个座敷童子</a><span class="info">更新至:<a href="/manhua/gongyuliyougezuofutongzi/448894.html">23话</a></span>
</li>
<li class="list-comic" data-key="10612"><a class="ImgA" href="https://m.manhuabei.com/manhua/MyAnimal/"><img src="https://img01.eshanyao.com/images/cover/201909/156927910634410612a385394e.jpg" width="100%" alt="" default="images/default/cover.png"></a><a class="txtA" href="https://m.manhuabei.com/manhua/MyAnimal/">My Animal</a><span class="info">更新至:<a href="/manhua/MyAnimal/405447.html">36话</a></span>
</li>
<li class="list-comic" data-key="412"><a class="ImgA" href="https://m.manhuabei.com/manhua/huanyingguanglinyuanjunlaishiwuhan/"><img src="https://img01.eshanyao.com/images/cover/201811/1541235117PWgj-aURRT21HnxS.jpg" width="100%" alt="" default="images/default/cover.png"></a><a class="txtA" href="https://m.manhuabei.com/manhua/huanyingguanglinyuanjunlaishiwuhan/">欢迎光临，愿君来世无憾</a><span class="info">更新至:<a href="/manhua/huanyingguanglinyuanjunlaishiwuhan/39736.html">外传2.5话</a></span>
</li></ul>    </div>


    <div style="padding: 15px;background: #FFF;" class="autoHeight">
    <!--pinglun-->
	<!--?=$this->render('@frontend/views/public/comic-discuss-phone',['comic'=>$model])?-->
    </div>

</div>
<!--baidusouojieguochutu-->
	<script type="application/ld+json">
        {
            "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
            "@id": "https://m.manhuadui.com/manhua/guaiguaishouhushen/",
            "appid": "1629707537185936",
            "title": "怪怪守护神,怪怪守护神漫画,怪怪守护神123,怪怪守护神124",
            "images": ["https://img01.eshanyao.com/images/cover/201906/155947205557838029cbed9e2.jpg"],
            "pubDate": "2019-10-11T04:17:41"
        }
    </script>
<!--baiduzidongshoulu-->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<div class="modal fade gift-modal" tabindex="-1" role="dialog" id="modal-gift">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                                            <h2 class="modal-title" id="giftModalLabel">还得劳烦主人<a href="/login/">登录</a>后打赏</h2>
                                    </div>
                <div class="modal-body">
                    <div id="gifts-form"></div>
                </div>

            </div>
            <div class="modal-footer hide">
            </div>
        </div>
    </div>
</div>
<script id="gifts-template" type="text/html">
    <div class="">
        <%if(items&&items.length>0){%>
        <div class="row">
            <%
            var active = 0;
            for(var i = 0; i < items.length;i++){
            if(i>4) break;
            var item = items[i];
            if(item.active) active=i;
            item.max_num = Math.min(item.max_num>0?item.max_num:5,5);
            item.num = item.num>0?item.num:item.max_num;
            %>
            <div class="clearfix gift-item <%=item.active?'active':''%>" data-key="<%=item.id%>">
                <div class="gift-icon pull-left">
                    <img class="tip" src="<%=item.imageUrl%>" width="100%"/>
                    <p class="checked"><%=item.num%>倍 √</p>
                </div>
                <div class="gift-detail">
                    <p class="name"><%=item.name%><%:=item.vip_ticket>0?'<span class="ticket">(赠'+item.vip_ticket+'月票)</span>':''%></p>
                <p class="price"><%=item.price%>点券</p>
                </div>
            </div>
            <%}
            var activeItem = items[active];%>
            <div class="col-xs-12 row-gift-num">
                数量加倍：<% for(var i = activeItem.max_num; i >0;i--){ %>
                <input type="radio" name="gift-num" value="<%=i%>" class="gift-num" id="gift-num-<%=i%>" <%=activeItem.num == i ?'checked':''%>> <label for="gift-num-<%=i%>">x<%=i%></label>
                <% } %>
            </div>
            <div class="col-xs-12 row-gift-credit">
                本次打赏：<%=activeItem.price%> × <%=activeItem.num%> =<%=activeItem.price*activeItem.num%>点券
            </div>
            <div class="col-xs-12">
                <textarea name="gift-content" id="gift-content" rows="3" title="" class="form-control" placeholder="<%=activeItem.content%>"><%=content%></textarea>
            </div>
            <div class="col-xs-12 text-center row-submit">
                <input type="button" value="打赏作者" id="gift-submit" class="btn btn-danger gift-submit">
                <p>支持作者，有我一份！</p>
            </div>
        </div>
        <%}else{%>
        <div class="no_content">系统尚未设置打赏礼物</div>
        <%}%>
    </div>
</script></div>
<div class="bottom">
    <ul class="subNav">
        <li><a href="/"><span class="a4">返回pc版</span></a></li>
        <li id="w2"><a href="/" target="_blank"><span class="a5">未发布APP</span></a></li>        <li class="last"><a href="javascript:SinMH.scrollTo(0);"><span class="a6">返回顶部</span></a></li>
    </ul>

    <p class="record">
        ©2020 <a href="https://www.manhuabei.com" target="_blank">漫画呗（漫画堆）</a> <span style="display:none;"><!-- Global site tag (gtag.js) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154557870-1"></script> <script>   window.dataLayer = window.dataLayer || [];   function gtag(){dataLayer.push(arguments);}   gtag('js', new Date());    gtag('config', 'UA-154557870-1'); </script> <script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1278944425&web_id=1278944425"></script></span>        <span id="w3"><a href="#" target="_blank">Sanshengacg@gmail.com</a>
 | <a href="/help/m-guestbook.html" target="_blank">留言反馈</a></span>    </p>

</div>
<div style="display:none;"></div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="alert-modal" id="alert-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">提示信息</h4>
            </div>
            <div class="modal-body text-center"> 弹窗内容</div>
            <div class="modal-footer text-center" style="text-align: center;">
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" id="confirm-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">提示信息</h4>
            </div>
            <div class="modal-body text-center"> 弹窗内容 </div>
            <div class="modal-footer text-center" style="text-align: center;">
                <button type="button" class="btn btn-primary btn-confirm" data-dismiss="modal" aria-label="Confirm">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="mask" id="mask" style="top: 92px;"></div>
<script id="search-template" type="text/html">
    <%if(items&&items.length>0){%>
    <%for(var i = 0; i
    <items.length;i++){
    var item = items[i];
    %>
    <li title="<%=item.title%>" data-url="<%= item.uri %>">
        [<a href="/author/id-<%= item.author_id %>/"><%=item.author%></a>]
        <a href="<%= item.uri %>"><%=item.title%></a>
        [<span class="<%=item.serialise==1?'text-danger':'text-success'%>"><%=item.serialise==1?'连载中':'已完结'%></span>]
    </li>
    <%}%>
    <%}else{%>
    暂无搜索结果    <%}%>
</script>
<script id="history" type="text/html">
    <%if(list&&list.length>0){
    for(var i = 0; i < list.length;i++){
    var item = list[i];
    %>
    <li>
        <div>
            <a href="<%=item.comic_url%>"><%=item.comic_name%></a>
            <span><a href="<%=item.read_chapter_url%>"><%=item.read_chapter%></a></span>
            <span><a href="<%=item.read_chapter_url%>#p=<%=item.read_page%>">第<%=item.read_page%>页</a></span>
            <span class="time"><%= filter.asDuration(item.read_at)%></span>
        </div>
        <a class="btn-close" href="javascript:SinMH.removeHistory(<%=item.comic_id%>)"></a>

    </li>

    <%}
    }else{%>
    暂无历史纪录    <%}%>
</script>
<script src="https://cdn.staticfile.org/jquery/1.12.1/jquery.js"></script>
<script src="/assets/c939aa27/yii.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="https://cdn.staticfile.org/toastr.js/2.1.2/toastr.min.js"></script>
<script src="/plugins/baiduTemplate.js"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="/plugins/jquery/jquery.image.js"></script>
<script src="https://cdn.staticfile.org/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script src="/plugins/jquery/jquery.hotkeys.js"></script>
<script src="/plugins/bootstrap/bootstrap.hover.dropdown.js"></script>
<script src="/plugins/bootstrap/bootstrap.hover.tab.js"></script>
<script src="/js/config.js?v0108"></script>
<script src="/js/common.js?v0108"></script>
<script src="/assets/2246609f/js/theme.js"></script>
<script>jQuery(function ($) {
;SinMH.init();SinTheme.init();$("img").lazyload();
;SinMH.initComic(3802);SinTheme.initComic(3802);$('[data-order="desc"]').click();
});</script></body>
</html>

